<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite">

    <test name="Login">
        <classes>
            <class name="study.alevel.tests.loggedin.LoginUser"/>
        </classes>
    </test>

    <test name="Blog footer btn ">
        <classes>
            <class name="study.alevel.tests.loggedout.footertests.BlogTest"/>
        </classes>
    </test>

    <test name="MobileApps footer btn">
        <classes>
            <class name="study.alevel.tests.loggedout.footertests.MobileApps"/>
        </classes>
    </test>

    <test name="SearchAdd">
        <parameter name="search" value="Тенісна ракетка"/>
        <parameter name="check" value="теніс,ракетка,теннис"/>
        <classes>
            <class name="study.alevel.tests.loggedout.serchandfilter.SearchAdd"/>
        </classes>
    </test>

    <test name="Change language to russian">
        <classes>
            <class name="study.alevel.tests.loggedout.mainfunc.ChangeLangToRussian"/>
        </classes>
    </test>

    <test name="Login negtive test">
        <classes>
            <class name="study.alevel.tests.loggedout.mainfunc.LoginNegative"/>
        </classes>
    </test>


</suite>