<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite">
    <test name="1 - Blog footer btn ">
        <classes>
            <class name="study.alevel.tests.footertests.BlogTest"/>
        </classes>
    </test>

    <test name="2 - MobileApps footer btn">
        <classes>
            <class name="study.alevel.tests.footertests.MobileApps"/>
        </classes>
    </test>

    <test name="3 - Check all categories">
        <classes>
            <class name="study.alevel.tests.mainfunc.CategoriesCheck"/>
        </classes>
    </test>

    <test name="4 - Check free category">
        <classes>
            <class name="study.alevel.tests.serchandfilter.FreeCategory"/>
        </classes>
    </test>

    <test name="5 - Check currency change">
        <classes>
            <class name="study.alevel.tests.serchandfilter.CurrencyChange"/>
        </classes>
    </test>

    <test name="6 - SearchAdd">
        <parameter name="search" value="Тенісна ракетка"/>
        <parameter name="check" value="теніс,ракетка,теннис"/>
        <classes>
            <class name="study.alevel.tests.serchandfilter.SearchAdd"/>
        </classes>
    </test>

    <test name="7 - PriceFilter">
        <classes>
            <class name="study.alevel.tests.serchandfilter.PriceFilterTest"/>
        </classes>
    </test>

    <test name="8 - Contact Information in add">
        <classes>
            <class name="study.alevel.tests.adds.LoggedOutActionsWithAdd"/>
        </classes>
    </test>

    <test name="9 - Change language to russian">
        <classes>
            <class name="study.alevel.tests.mainfunc.ChangeLangToRussian"/>
        </classes>
    </test>

    <test name="10 - Login">
        <classes>
            <class name="study.alevel.tests.mainfunc.LoginUser"/>
        </classes>
    </test>

    <test name="11 - Login negative test">
        <classes>
            <class name="study.alevel.tests.mainfunc.LoginNegative"/>
        </classes>
    </test>



</suite>