<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite">
    <test name="Blog footer btn ">
        <classes>
            <class name="study.alevel.tests.footertests.BlogTest"/>
        </classes>
    </test>

    <test name="MobileApps footer btn">
        <classes>
            <class name="study.alevel.tests.footertests.MobileApps"/>
        </classes>
    </test>

    <test name="Check all categories">
        <classes>
            <class name="study.alevel.tests.mainfunc.CategoriesCheck"/>
        </classes>
    </test>

    <test name="Check free category">
        <classes>
            <class name="study.alevel.tests.serchandfilter.FreeCategory"/>
        </classes>
    </test>

    <test name="Check currency">
        <classes>
            <class name="study.alevel.tests.serchandfilter.CurrencyChange"/>
        </classes>
    </test>

    <test name="SearchAdd">
        <parameter name="search" value="Тенісна ракетка"/>
        <parameter name="check" value="теніс,ракетка,теннис"/>
        <classes>
            <class name="study.alevel.tests.serchandfilter.SearchAdd"/>
        </classes>
    </test>

    <test name="PriceFilter">
        <classes>
            <class name="study.alevel.tests.serchandfilter.PriceFilterTest"/>
        </classes>
    </test>

    <test name="Change language to russian">
        <classes>
            <class name="study.alevel.tests.mainfunc.ChangeLangToRussian"/>
        </classes>
    </test>

    <test name="Login negative test">
        <classes>
            <class name="study.alevel.tests.mainfunc.LoginNegative"/>
        </classes>
    </test>

    <test name="Login">
        <classes>
            <class name="study.alevel.tests.mainfunc.LoginUser"/>
        </classes>
    </test>


</suite>